.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(2, 6, 26, 0.884);
}

.cardContainer {
  border: 2px solid salmon;
  width: 65rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 50px 0;
}
